<!-- <h1>This is the App.html</h1> -->

<router-outlet></router-outlet>


<!-- <div *ngIf="msg;then update_msg;else error_msg">
    
</div>

<ng-template #error_msg>

    There was an error in NGIF
</ng-template>

<ng-template #update_msg>
    This is an updated msg
</ng-template> -->

<!-- <h2>{{print1}}</h2> -->

<!-- <div *ngFor="let a of contacts">
    <h2>{{a.ID}} {{a.fn}} {{a.ln}}</h2>
</div> -->


 <!-- <ul>

    <div *ngFor="let a of contacts; index as i; even as e;odd as o">
        <li *ngIf="e" style="background-color: yellow;"> {{ i + 1 }} {{ a.ID }} {{ a.fn }}</li>

        <li *ngIf="o" style="background-color: yellowgreen;"> {{ i + 1 }} {{ a.ID }} {{ a.fn }}</li>



       <li *ngIf="f" style="background-color: yellow;">
         {{ i + 1 }} {{ a.ID }} {{ a.fn }}
        </li>
<br>
        <li *ngIf="l" style="background-color: greenyellow;">
            {{ i + 1 }} {{ a.ID }} {{ a.fn }}
        </li> -->
    <!-- </div> -->



    <!-- <li  *ngFor="let a of contacts;index as i;first as f" >
      <div *ngIf="f" style="color: red;">This is the first element</div>
        {{i}} {{a.ID}} {{a.fn}} 
     
           
       
      
    </li>
</ul>-->


<!-- <app-cop1></app-cop1> -->
